$font-family:	"Ubuntu Mono", monospace, monospace;
$bg-color:	#460c24;
$txt-color:	#f7dc8e;
$hl1-color:	#84b5a9;
$hl2-color:	#b2fa71;
$link-color:	#e3562e;

$on-bigphone:	375px;
$on-tablet:	768px;
$on-laptop:	960px;
$on-desktop:	1200px;

/*
460c24 - maroon hopefully
[7:59 PM]
e3562e - orange
[7:59 PM]
#f7dc8e - cream
[8:00 PM]
b2fa71 - green
[8:00 PM]
#84b5a9 teal
*/
